<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<configuration>

	<settings>
		<setting name="defaultStatementTimeout" value="5" />
	</settings>

	<typeAliases>
		<typeAlias alias="LogDemo" type="com.yinuo.bean.LogDemo" />
	</typeAliases>
	
	<mappers>
		<mapper resource="mapperlog/LogDemoMapper.xml" />
	</mappers>

</configuration>

