<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yinuo.mapperlog.StudentMapper">

	<resultMap id="logDemoMap" type="LogDemo">
		<result property="id" column="pk_id" />
		<result property="name" column="name" />
	</resultMap>
	
    <insert id="insert" parameterType="LogDemo" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_demo(`name`) 
		VALUES(#{name})
	</insert>
	<select id="selectOne" parameterType="Map" resultMap="logDemoMap">
		SELECT * 
		FROM t_demo
		WHERE pk_id = #{id}
	</select>
	
	<select id="selectListByPage" parameterType="Map" resultMap="logDemoMap">
        SELECT * 
        FROM t_demo
        order by pk_id desc
        LIMIT #{limit}
        OFFSET #{offset}
    </select>
    <select id="selectListByIds" parameterType="Map" resultMap="logDemoMap">
        SELECT * 
        FROM t_demo
        WHERE pk_id IN
	    <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
	        #{item}
	    </foreach>
    </select>
    <select id="countListByIds" parameterType="Map" resultType="Integer">
        SELECT count(1)
        FROM t_demo
        WHERE pk_id IN
	    <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
	        #{item}
	    </foreach>
    </select>

	<update id="update" parameterType="LogDemo">
		UPDATE t_demo
		SET `mobile` = #{mobile},
		    `username` = #{userName},
		    `password` = #{password},
		    `create_time` = #{createTime},
		WHERE pk_id = #{id}
	</update>

	<delete id="delete" parameterType="Map">
		delete from t_demo
		where pk_id = #{id}
	</delete>
	
	<delete id="deleteAll">
		delete from t_demo
    </delete>
	
</mapper>