<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yinuo.mapper.ScoreBatchBatchMapper">

	<resultMap id="ScoreBatchBatchMap" type="ScoreBatch">
		<result property="id" column="pk_id" />
		<result property="name" column="name" />
		<result property="type" column="type" />
		<result property="schoolId" column="fk_school_id" />
		<result property="classId" column="fk_class_id" />
		<result property="managerId" column="fk_manager_id" />
		<result property="createTime" column="create_time" />
	</resultMap>
	
    <insert id="insert" parameterType="ScoreBatch" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_score_batch(`name`, `type`, `fk_school_id`, `fk_class_id`, `fk_manager_id`, `create_time`)
		VALUES(#{name}, #{type}, #{schoolId}, #{classId}, #{managerId}, #{createTime})
	</insert>
	<select id="selectOne" parameterType="Map" resultMap="ScoreBatchBatchMap">
		SELECT * 
		FROM t_score_batch
		WHERE pk_id = #{id}
	</select>
	
	<select id="selectListByPage" parameterType="Map" resultMap="ScoreBatchBatchMap">
        SELECT * 
        FROM t_score_batch
        order by pk_id desc
        LIMIT #{limit}
        OFFSET #{offset}
    </select>
    <select id="selectListByIds" parameterType="Map" resultMap="ScoreBatchBatchMap">
        SELECT * 
        FROM t_score_batch
        WHERE pk_id IN
	    <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
	        #{item}
	    </foreach>
    </select>
    <select id="countListByIds" parameterType="Map" resultType="Integer">
        SELECT count(1)
        FROM t_score_batch
        WHERE pk_id IN
	    <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
	        #{item}
	    </foreach>
    </select>
	<update id="update" parameterType="ScoreBatch">
		UPDATE t_score_batch
		SET `name` = #{name},
		`type` = #{type},
		`fk_school_id` = #{schoolId},
		`fk_class_id` = #{classId},
		`fk_manager_id` = #{managerId},
		`create_time` = #{createTime}
		WHERE pk_id = #{id}
	</update>

	<delete id="delete" parameterType="Map">
		delete from t_score_batch
		where pk_id = #{id}
	</delete>
	
	<delete id="deleteAll">
		delete from t_score_batch
    </delete>
</mapper>