<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yinuo.mapper.ScoreMapper">

	<resultMap id="scoreMap" type="Score">
		<result property="id" column="pk_id" />
		<result property="type" column="type" />
		<result property="subject" column="subject" />
		<result property="studentId" column="fk_student_id" />
		<result property="classId" column="fk_class_id" />
		<result property="score" column="score" />
		<result property="pic" column="pic" />
		<result property="examId" column="fk_exam_id" />
		<result property="scoreBatchId" column="fk_score_batch_id" />
		<result property="managerId" column="fk_manager_id" />
		<result property="createTime" column="create_time" />

		<result property="schoolRank" column="school_rank" />
		<result property="classRank" column="class_rank" />
	</resultMap>
	
    <insert id="insert" parameterType="Score" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_score(`type`, `subject`, `fk_student_id`, `fk_class_id`, `score`, `pic`, `fk_exam_id`, `fk_score_batch_id`, `fk_manager_id`, `create_time`,
		`school_rank`, `class_rank`)
		VALUES(#{type}, #{subject}, #{studentId}, #{classId}, #{score}, #{pic}, #{examId}, #{scoreBatchId}, #{managerId}, #{createTime},
		#{schoolRank}, #{classRank})
	</insert>
	<select id="selectOne" parameterType="Map" resultMap="scoreMap">
		SELECT * 
		FROM t_score
		WHERE pk_id = #{id}
	</select>
	
	<select id="selectListByPage" parameterType="Map" resultMap="scoreMap">
        SELECT * 
        FROM t_score
        order by pk_id desc
        LIMIT #{limit}
        OFFSET #{offset}
    </select>
    <select id="selectListByIds" parameterType="Map" resultMap="scoreMap">
        SELECT * 
        FROM t_score
        WHERE pk_id IN
	    <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
	        #{item}
	    </foreach>
    </select>
    <select id="countListByIds" parameterType="Map" resultType="Integer">
        SELECT count(1)
        FROM t_score
        WHERE pk_id IN
	    <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
	        #{item}
	    </foreach>
    </select>
	<update id="update" parameterType="Score">
		UPDATE t_score
		SET `type` = #{type},
		`subject` = #{subject},
		`fk_student_id` = #{studentId},
		`fk_class_id` = #{classId},
		`score` = #{score},
		`pic` = #{pic},
		`fk_exam_id` = #{examId},
		`fk_score_batch_id` = #{scoreBatchId},
		`fk_manager_id` = #{managerId},
		`create_time` = #{createTime},

		`school_rank` = #{schoolRank},
		`class_rank` = #{classRank}
		WHERE pk_id = #{id}
	</update>

	<update id="updateRank" parameterType="Map">
		UPDATE t_score
		SET `class_rank` = #{classRank},
		`school_rank` = #{schoolRank}
		WHERE pk_id = #{id}
	</update>

	<delete id="delete" parameterType="Map">
		delete from t_score
		where pk_id = #{id}
	</delete>
	
	<delete id="deleteAll">
		delete from t_score
    </delete>
	<select id="selectByStudentId" parameterType="Map" resultMap="scoreMap">
		SELECT *
		FROM t_score
		WHERE fk_student_id = #{studentId}
		<if test="type > 0">
			and `type` = #{type}
		</if>
		<if test="subject > 0">
			and `subject` = #{subject}
		</if>
		limit #{limit} offset #{offset}
	</select>
	<select id="countByStudentId" parameterType="Map" resultType="Integer">
		SELECT count(1)
		FROM t_score
		WHERE fk_student_id = #{studentId}
		<if test="type > 0">
			and `type` = #{type}
		</if>
		<if test="subject > 0">
			and `subject` = #{subject}
		</if>
	</select>
	<select id="selectByScoreBatchId" parameterType="Map" resultMap="scoreMap">
		SELECT *
		FROM t_score
		WHERE fk_score_batch_id = #{scoreBatchId}
		<if test="type > 0">
			and `type` = #{type}
		</if>
		<if test="type == 1 and scoreBatchId > 0">
			order by `class_rank` asc
		</if>
		limit #{limit} offset #{offset}
	</select>
	<select id="countByScoreBatchId" parameterType="Map" resultType="Integer">
		SELECT count(1)
		FROM t_score
		WHERE fk_score_batch_id = #{scoreBatchId}
		<if test="type > 0">
			and `type` = #{type}
		</if>
	</select>
	<select id="selectByExamId" parameterType="Map" resultMap="scoreMap">
		SELECT *
		FROM t_score
		WHERE `fk_exam_id` = #{examId}
		<if test="subject > 0">
			and `subject` = #{subject}
		</if>
		and `pk_id` &gt; #{id}
		limit #{limit}
	</select>

	<insert id="insertBatch" parameterType="java.util.List">
		INSERT INTO t_score(`type`, `subject`, `fk_student_id`, `fk_class_id`, `score`,
		`pic`, `fk_exam_id`, `fk_score_batch_id`, `fk_manager_id`, `create_time`, `school_rank`, `class_rank`)
		VALUES
		<foreach collection ="scores" item="item" index= "index" separator =",">
			(#{item.type}, #{item.subject}, #{item.studentId}, #{item.classId}, #{item.score}, #{item.pic}, #{item.examId},
			#{item.scoreBatchId}, #{item.managerId}, #{item.createTime}, #{item.schoolRank}, #{item.classRank})
		</foreach>
	</insert>

	<delete id="deleteByExamId" parameterType="Map">
		delete from t_score
		where `fk_exam_id` = #{examId}
		<if test="subject > 0">
			and `subject` = #{subject}
		</if>
	</delete>
</mapper>